@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Syloti+Nagri&display=swap');


*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  background-color: black;
  color: white;
  font-family: 'Noto Sans Syloti Nagri', sans-serif;
  margin: 0;
  
}